---
export interface Props {
	  header?: string;
	  subheader?: string;
	  imageLoc?: string;
    imageAlt?: string;
    para1?: string;
    para2?: string;
    para3?: string;
}

const { header, subheader, imageLoc, imageAlt, para1, para2, para3 } = Astro.props as Props;
---

<section class="content">
    <div class="content-text">
        <h1>{header}</h1>
        <h2>{subheader}</h2>
        <img class="mx-auto" src={imageLoc} alt={imageAlt} />
        <p>{para1}</p>
        <p>{para2}</p>
        <p>{para3}</p>
    </div>
</section>


<style>
    .content {
    height: auto;
    padding: 5px;
  }
  .content-blog {
    min-height: 300px;
  }
  .content-text {
    color: #eee;
    text-align: center;
    margin: 30px auto;
  }
  .content h1 {
    font-size: 50px;
    color: #026087;
    margin-bottom: 10px;
  }
  .content h2 {
    font-size: 28px;
    color: #00cc66;
    margin-bottom: 20px;
  }
  .content p {
    font-size: 18px;
    color: #eeeeee;
    margin-bottom: 20px;
    text-align: left;
  }
  .content-img {
    text-align: center;
  }
  .content-img img {
    border-radius: 10px;
    margin: auto;
  }
  </style>
